body {
  width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 760px;
}

section {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 440px;
  margin-left: 2rem;
}
article p {
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
}
button {
  padding: 1rem 3rem;
  width: 60%;
  border-radius: 10px;
  transition-duration: 350ms;
}
button:hover {
  background-color: salmon;
}
footer {
  background-color: #aaaaaa;
  min-height: 200px;
  margin-top: 30px;
}
